{% extends "base.html" %}

{% block content %}

  <div class="container-fulid border my-5 p-5 text center">
    <h1>welcome to page for {{ current_user.username }}</h1>
    <img align="center" src="{{ url_for('static', filename='profile_pics/'+current_user.profile_image) }}" alt="">
  </div>

  <div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.username.label(class="form-label") }} <br>
          {{ form.username(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.email.label(class="form-label") }} <br>
          {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.picture.label(class="form-label") }} <br>
          {{ form.picture(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>
  </div>
{% endblock %}
