{% extends "base.html" %}

{% block content %}
  <form  method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }} <br>
      {{ form.email() }}
    </p>

    <p>
      {{ form.username.label }} <br>
      {{ form.username() }}
    </p>

    <p>
      {{ form.password.label }} <br>
      {{ form.password() }}
    </p>
    <p>
      {{ form.pass_confirm.label }} <br>
      {{ form.pass_confirm() }}
    </p>
    <p>
      {{ form.submit() }}
    </p>

  </form>
{% endblock %}
